/*
 * Basic layout
 */

// Mobile, small
$top-height-m : 100px;
$nav-height-m : 70px;
$nav-height-m-shop : 40px;
$top-height-m-shop : 100px;
// Desktop
$top-height: 105px;
$nav-height: 40px;
$top-height-shop: 65px;

$footer-height: $top-height;
$sitemap-height: $footer-height;

// Home
$info_width: 20em;
