[% IF message %]
<script src="/js/message.js"></script>
<section id="message" class="[% IF error %]error[% ELSE %]success[% END %]">
    <a href="[% url %]" alt="Back"><i class="fa fa-chevron-left"></i> Go back</a>
    <span class="text">[% message %]</span>
    <div class="right"><i class="fa fa-times cancel-message"></i></div>
</section>
[% END %]
